@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

body {
    background-color: hsl(180, 52%, 96%);
}

.prueba { 
display: inline-block;
background-color: hsl(180, 31%, 95%);
width: auto;
border-radius: 10px;
margin-bottom: 10px;
padding: 5px;
text-align: center;
margin-right: 10px;
height: 30px;
color: hsl(180, 29%, 50%);
font-size: 12px;
font-weight: 700;
}

.inputBuscar{
width: 50% !important;
}

.containerInput{
align-items: end;
right: 0;
display: flex;
justify-content: flex-end;
padding-bottom: 25px;
margin-top: 2rem;
margin-right: 2rem;
}


